@import url(https://fonts.google.com/specimen/Outfit);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
}

.p1{
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 700;
}

img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    margin-top: 16px;
}

#container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 330px;
    height: 480px;
}